* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #FEF4F0;
}

.dumpy-title {
  font-family: 'Pacifico', cursive;
  color: #E34A35;
}